<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <h1>Input Form</h1>
    <form method="POST" id="dataForm" action="/submit">
        <label for="Classifier">Classifier:</label><br>
        <input type="radio" id="naive" name="Classifier" value="naive" required>
        <label for="naive">Naive</label><br>
        <input type="radio" id="fuzzy" name="Classifier" value="fuzzy" required>
        <label for="fuzzy">Fuzzy</label><br><br>

        <label for="Days_worn">Days Worn:</label><br>
        <input type="range" id="Days_worn" name="Days_worn" min="0" max="5" step="0.1" value="2" oninput="Days_worn_output.value=Days_worn.value">
        <output id="Days_worn_output">2</output><br>
        <label for="Days_left_out">Days Left Out:</label><br>
        <input type="range" id="Days_left_out" name="Days_left_out" min="0" max="5" step="0.1" value="2" oninput="Days_left_out_output.value=Days_left_out.value">
        <output id="Days_left_out_output">2</output><br>
        <label for="Activity">Activity:</label><br>
        <input type="range" id="Activity" name="Activity" min="0" max="5" step="0.1" value="2" oninput="Activity_output.value=Activity.value">
        <output id="Activity_output">2</output><br>
        <label for="Stress">Stress:</label><br>
        <input type="range" id="Stress" name="Stress" min="0" max="5" step="0.1" value="2" oninput="Stress_output.value=Stress.value">
        <output id="Stress_output">2</output><br>
        <label for="Temperature">Temperature:</label><br>
        <input type="range" id="Temperature" name="Temperature" min="0" max="5" step="0.1" value="2" oninput="Temperature_output.value=Temperature.value">
        <output id="Temperature_output">2</output><br>
        <label for="Hours">Hours:</label><br>
        <input type="range" id="Hours" name="Hours" min="0" max="5" step="0.1" value="2" oninput="Hours_output.value=Hours.value">
        <output id="Hours_output">2</output><br>
        <input type="submit" value="Submit"><br><br>
    </form>

    <h1>Tests</h1>
    <form method="POST" id="testForm" action="/run_tests">
        <label for="Classifier">Classifier:</label><br>
        <input type="radio" id="naive" name="Classifier" value="naive" required>
        <label for="naive">Naive</label><br>
        <input type="radio" id="fuzzy" name="Classifier" value="fuzzy" required>
        <label for="fuzzy">Fuzzy</label><br><br>

        <input type="submit" value="Run Tests">
    </form>
    {% if answers %}
        <h2>Results:</h2>
        <ul>
            {% for answer in answers %}
                <li>{{ answer }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>