<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <h1>Input Form</h1>
    <form method="POST" id="dataForm" action="/submit">
        <label for="Classifier">Classifier:</label><br>
        <input type="radio" id="naive" name="Classifier" value="naive" required>
        <label for="naive">Naive</label><br>
        <input type="radio" id="fuzzy" name="Classifier" value="fuzzy" required>
        <label for="fuzzy">Fuzzy</label><br><br>

        <label for="Days_worn">Days Worn:</label><br>
        <input type="number" id="Days_worn" name="Days_worn" required><br>
        <label for="Days_left_out">Days Left Out:</label><br>
        <input type="number" id="Days_left_out" name="Days_left_out" required><br>
        <label for="Activity">Activity:</label><br>
        <input type="number" id="Activity" name="Activity" required><br>
        <label for="Stress">Stress:</label><br>
        <input type="number" id="Stress" name="Stress" required><br>
        <label for="Temperature">Temperature:</label><br>
        <input type="number" id="Temperature" name="Temperature" required><br>
        <label for="Hours">Hours:</label><br>
        <input type="number" id="Hours" name="Hours" required><br>
        <input type="submit" value="Submit"><br><br>
    </form>

    <h1>Tests</h1>
    <form method="POST" id="testForm" action="/run_tests">
        <label for="Classifier">Classifier:</label><br>
        <input type="radio" id="naive" name="Classifier" value="naive" required>
        <label for="naive">Naive</label><br>
        <input type="radio" id="fuzzy" name="Classifier" value="fuzzy" required>
        <label for="fuzzy">Fuzzy</label><br><br>

        <input type="submit" value="Run Tests">
    </form>
    {% if answers %}
        <h2>Results:</h2>
        <ul>
            {% for answer in answers %}
                <li>{{ answer }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>